* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.root {
    font-size: 16px;
    
}

html {
    --primaryColor: #1992d4;
    --mainElementColor: #e2e8f0;


}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

nav {
    background-color:var(--primaryColor);
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.logo .icon {
    width: 50px;
    height: 50px;
    fill: white;
}

/* Main Content Styles */

main {
    background-color: var(--mainElementColor);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    grid-template-rows: minmax(auto, 250px);
    gap: 15px;
    padding: 20px;
}

.card {
    background-color: white;
    height: 250px;
    border-radius: 25px;
    padding: 1rem;
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr auto;
    align-items: center;
}

.card h2, h3 {
    text-align: center;
}

.iconContainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.readButton {
    grid-column: 1 / 2;
    padding: 5px;
}

.read {
    fill: blue;
}

/* .notRead {
    fill: black;
} */

.deleteButton {
    grid-column: 3 / 4;
    padding: 5px;
}

.delete:hover {
    fill: red;
}

.icon {
    width: 30px;
    height: 30px;
    padding: 0;
}

/* Adding New */
.addNew {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    border-radius: 50%;
    background-color: var(--primaryColor);
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    margin: 0 5px 5px 0;
}

.addNew:hover {
    transform: scale(1.25, 1.25);
}

dialog {
    width: 400px;
    height: 250px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primaryColor);
}

.close {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.bookForm {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    height: 100%;
    color: white;
}

.bookForm label, p {
    margin: 5px 0 0;
}

.bookForm input {
    outline: none;
    border: 1px solid grey;
    padding: 5px;
}

.addBook {
    padding: 5px;
}

.delete {
    /* padding: 5px; */
}

.deleteContainer {
    display: flex;
    justify-content: end;
}
