* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.root {
    font-size: 16px;
    
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

nav {
    background-color:aquamarine;
}

.icon {
    width: 50px;
    height: 50px;
}

main {
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-auto-rows: minmax(250px, 1fr); */
    grid-template-rows: minmax(auto, 250px);
    gap: 15px;
}

.card {
    background-color: white;
    height: 250px;
    border-radius: 25px;
    padding: 1rem;
    position: relative;
}

.addNew {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    border-radius: 50%;
}

dialog {
    width: 200px;
    height: 200px;
    padding: 10px;

}

.close {
    padding: 10px;
}

.bookForm {
    display: grid;
    grid-template-rows: auto;
}

.delete {
    padding: 5px;
}